.nav-container{
    width: 100%;
    height: 150px;
    background: transparent;
    
}

.logo-container{
    width: 30%;
    height: 30%;
    position: relative;
    left: 0;
    right: 0;
}

.bar-icon{
    color: #fff;
    font-size: 16px;
}
.logo{
    width: 20%;
    height: 20%;
    font-weight: 700;
}
.logo-title{
    color: #EFD993;
    position: absolute;
    left: 13%;
    // top: 5%;
    bottom: 3%;
    font-family: "La Belle Aurore";
    font-weight: 700;
    font-style: normal;
}
.nav-item {
    font-size: 23px;
    line-height: 10px;
    text-align: center; /* Ensure center alignment for text and icons */
    // list-style: none;
    text-decoration: none;

    &.active .icon-text, &.active .nav-icon {
        color: #EFD993;
    }
}

.icon-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-icon {
    font-size: 25px;
    transition: all 0.3s ease-out;
    display: block;
}

.icon-text {
    margin-top: 5px; /* Space between icon and text */
    font-size: 15px; /* Adjust font size as needed */
    color:#ccc;
    letter-spacing: 2px;
    font-family: "IBM Mono";
}

.nav-icon:hover,
.nav-item:hover .icon-text {
    color: #EFD993;
}

.contact-btn{
    display: block;
    width: 150px;
    height: 40px;
    text-decoration: none;
    color: #4d4d4e;
    background: #EFD993;
    letter-spacing: 3px;
    padding: 5px 5px;
    margin: 0 7px;
    text-align: center;
    border-radius: 6px;
    animation: fadeIn 1s 1.8s backwards;

    &:hover{
        background: transparent;
        color: #EFD993;
        border: 1px solid #EDF993;
        border-radius: 6px;
    }

}

@media(max-width: 575px) {
    .nav-item{
        margin-left: 500px;
    }
    .icon-with-text{
       margin-left: 150px; 
    }

    .contact-btn{
        display: none;
    }
}


