@use 'sass:math';

.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s forwards;
    min-width: 10px;
}

.text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;

    &:hover {
        animation: rubberBand 1s;
        color: #FFF;
    }
}


// @for $i from 1 through 35 {
//     .text-animate._#{$i} {
//         animation-delay: #{$i * 0.1}s;
//         // animation-delay: math.div($i, 10) * 1s;
//         // animation-delay: #{$i / 10}s;
//         // animation-delay: calc(#{$i} / 10s);
//     }
// }

@for $i from 1 through 35 {
    .text-animate:nth-child(#{$i}) {
      animation-delay: math.div($i, 10) * 1s;
    }
  }

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rubberBand {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    100% {
        transform: scale(1);
    }
}

// Corrected transform property using math.div()
.example-class {
    $size: 16px;
    transform: translate(0, math.div(-$size, 4));
}
