.layout{
    width: 100%;
    height: 100%;
    // border: #fff700 2px solid;
}
.pages{
    width: 100%;
    height: 100%;

    // position: relative;
}

.top-tags {
    // position: absolute;
    bottom: 22%;
    top: 22%;
    // left: 120px;
  }

.tags{
  color: #EDF993;
    opacity: 0.6;
    bottom: 0;
    font-size: 18px;
    left: 40px;
    position: absolute;
    font-family: "La Belle Aurore", "cursive";


}

.bottom-tags-html {
    // position: absolute;
    // bottom: 0;
    // left: 120px;
    margin-left: -10px;
  }
  @media(min-width:1200px){
    .layout{
      width: 100%;
      height: 100%;
      // border: #fff700 2px solid;
  }
  
  .pages{
    width: 100%;
    height: 100%;
  
    // position: relative;
  }
  
    
    .top-tags {
      bottom: auto;
      top: 25%;
    }
    .tags{
    color: #EDF993;
      opacity: 0.6;
      bottom: 0;
      font-size: 18px;
      left: 40px;
      font-weight: 300;
      position: absolute;
      font-family: "La Belle Aurore", "cursive";
  
  }
  
  .bottom-tags-html {
      margin-left: -10px;
    }
  
  
  }
  @media(min-width:790px)and (max-width: 1200px){
    .layout{
      width: 100%;
      height: 100%;
      // border: #fff700 2px solid;
  }
  
  .pages{
    width: 100%;
    height: 100%;
  
    // position: relative;
  }
  
    
    .top-tags {
      bottom: auto;
      top: 40%;
    }
    .tags{
    color: #EDF993;
      opacity: 0.6;
      bottom: 0;
      font-size: 18px;
      left: 40px;
      font-weight: 300;
      position: absolute;
      font-family: "La Belle Aurore", "cursive";
  
  }
  
  
  .bottom-tags-html {
      margin-left: -10px;
     
    }
  
  
  }

  @media(min-width:577px)and (max-width: 789px){
    .layout{
      width: 100%;
      height: 100%;
     
  }
  
  .pages{
    width: 100%;
    height: 100%;
  
   
  }
  
    
    .top-tags {
      bottom: auto;
      top: 40%;
    }
    .tags{
    color: #EDF993;
      opacity: 0.6;
      bottom: 0;
      font-size: 18px;
      left: 40px;
      font-weight: 300;
      position: absolute;
      font-family: "La Belle Aurore", "cursive";
  
  }
  .bottom-tags{
   
    bottom: -100px;
  }
  
  .bottom-tags-html {
      margin-left: -10px;
     
    }
  
  
  }


@media(max-width: 576px){
  .layout{
    width: 100%;
    height: 100%;
}

.pages{
  width: 100%;
  height: 100%;

  // position: relative;
}

  
  .top-tags {
    bottom: auto;
    top: 14%;
  }
  .tags{
  color: #EDF993;
    opacity: 0.6;
    bottom: 0;
    font-size: 18px;
    left: 40px;
    position: absolute;
    font-family: "La Belle Aurore", "cursive";
    font-weight: 300;


}
.bottom-tags{
 
  bottom: -200px;
}

.bottom-tags-html {
   
    margin-left: -10px;
   
  }

}





