.contact-page{
    // color: #FFF;
    width: 100%;
    // height: 100%;
    // padding: 0 10px;
    // border: 1px solid red;
    // align-items: center;

    .contact-text-zone{
        width: 90%;
        // border: 1px solid yellowgreen;
        align-items: center;
        // margin: 16px 20px;
        text-align: center;
        // align-self: center;
        // align-content: center;
    }

    p{
        font-style: 13px;
        color: #fff;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 300;
        min-width: fit-content;
        animation: pulse 1s;
    
        &:nth-of-type(1){
            animation-delay: 1.1s;
        }
    
        &:nth-of-type(2){
            animation-delay: 1.2s;
    }
}
h3{
    color: #EDF993;
    font-size: 20px;
    letter-spacing: 3px;
    animation: pulse 1s 1.8s backwards;
    font-family: "Nanum Gothic";
}
}

.contact-form{
    width: 100%;
    // height: 100%;
    padding: 0 10px;
    // align-items: center;

    ul{
        padding: 0;
        margin: 0;
        // color: #fff;
        

        li{
            padding: 0;
            margin: 0;
            list-style: none;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            opacity: 0;
            clear: both;
            overflow: hidden;
            margin-bottom: 2px;
            color: #fff;
            //  background: #cfcfd9;
        }

        li.half{
            width: 49%;
            // display: flex;
            // justify-content: space-around;
            margin-left: 2%;
            clear: none;
            float: left;
            // border-bottom: 1px solid #757575;

            &:first-child{
                margin-left: 0;
            }
        }
    }

    // input{
    //     border: 0;
    //     outline: 0;
    // }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        // outline: 1px solid #ccc;
        outline: 0;
        background: #115173;
        height: 50px;
        color: #FFF;
        font-size: 16px;
        padding: 0 20px;
        box-sizing: border-box;
    }

    textarea{
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        color: #FFF;
        font-size: 16px;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box;
        outline: 0;
        
    }

    .flat-btn{
        color: #ffd700;
        background: 0  0;
        font: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid #ffd700;
        float: left;
        border-radius: 4px;
        margin: 10px;
    }

}

.contact-image{
    width: 100%;
    height: 100%;

    img{
        width: 60%;
        height: 100%;
    }
}

@keyframes swing {
    20% { transform: rotate3d(0, 0, 1, 15deg); }
    40% { transform: rotate3d(0, 0, 1, -10deg); }
    60% { transform: rotate3d(0, 0, 1, 5deg); }
    80% { transform: rotate3d(0, 0, 1, -5deg); }
    100% { transform: rotate3d(0, 0, 1, 0deg); }
  }

  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .pulse-animation {
    animation: pulse 1s infinite;
  }
  

.contact-links{
    width: 100%;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in;
    // align-items: center;
    display: flex;
    justify-content: center;
}

.contact-links.visible {
    opacity: 1; /* Make visible when scrolled into view */
    animation: pulse 1s ease;
  }

.social-icon{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    animation: slideInLeft 1s 1.8s ease-in;
   

    a{
        text-decoration: none;
        border: 1px solid #ccc;
        border-radius: 50%;
        font-size: 20px;
        color: #ccc;
        padding: 3px 7px;
        display: inline-block;
        transition: transform 0.3s ease;

        &:hover{
           color: #EDF993;
           animation: swing 1.2s ease;
          
        }

    }
}

